{% extends 'base.html.twig' %} {% block title %}Hello HomeController!{% endblock
%} {% block body %}
<style>
  .btn-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  .btn-item {
    margin: 20px;
    width: 50%;
  }
</style>

<div class="btn-list">
  <a href="{{ path('app_message') }}" class="btn btn-primary btn-item"
    >Envoyer un message <i class="fa-solid fas fa-comment-dots"></i
  ></a>
  <a href="{{ path('app_email') }}" class="btn btn-primary btn-item"
    >Envoyer un email <i class="fa-solid fas fa-envelope"></i
  ></a>
</div>

{% endblock %}
