{% extends 'base.html.twig' %} {% block title %} Login {% endblock%} {% block
body%}

<style>
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-form form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
  }

  .login-form form div {
    margin: 10px 0 0 10px;
  }
</style>

<div class="login-form">
  {{ form_start(user_name) }}
  {{ form_end(user_name) }}
</div>
{% endblock %}
