{% extends 'base.html.twig' %} {% block title %}Hello MessageController!{%
endblock %} {% block body %}
<style>

  .messages-container{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
  }
  .messages-list{
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    height: 100%;
  }
  .message-item{
      display: flex;
      
  }
  .received{
    flex-direction: row;
    align-items: flex-start;
  }
  .sender{
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .sender .sender-item{
    margin-left: 10px;
  }
  .received .sender-item{
    margin-right: 10px;
  }

  .received-item{
    line-break: anywhere;
    max-width: 80%;
  }

  .message-form{
    display: flex;
    flex-direction: row;
  }

</style>
<div class="messages-container">
  <div class="messages-list" id="messages-list"></div>
      <form class="message-form">
        <input id="message" type="text" class="form-control" placeholder="Votre message" required/>
        <button id="message-send" type="submit" class="btn btn-primary"><i class="fa-solid fas fa-paper-plane"></i></button>
        </form>
    </form>
</div>

<script>
    var sendButton = document.getElementById('message-send')
    var message = document.getElementById('message')
    var messageList = document.getElementById('messages-list')
    var username = '{{ app.session.get("USER_NAME") }}'

    sendButton.addEventListener('click', (e) => {
        e.preventDefault();

        axios.post('/message/send', {
            message: message.value,
          })
          .then(function (response) {
            //console.log(response.data.status);
            message.value = ""
          })
          .catch(function (error) {
            //console.log(error);
          });
    })


    const eventSource = new EventSource("{{ mercure('http://127.0.0.1:801/messages/all')|escape('js') }}");
    eventSource.onmessage = event => {
    // Will be called every time an update is published by the server
    console.log(JSON.parse(event.data));

    var messageObj = JSON.parse(event.data)
    
    var messageItem = document.createElement('div')
    if(username == messageObj.sender){

      messageItem.className = 'message-item sender'
    }else{
      messageItem.className = 'message-item received'
      
    }
    
    var received = document.createElement('div')
    received.className = 'received-item alert alert-secondary'
    received.innerHTML = messageObj.message

    var sender = document.createElement('div')
    sender.className = 'sender-item alert alert-primary'
    sender.innerHTML = messageObj.sender

    messageItem.append(sender)
    messageItem.append(received)

    messageList.prepend(messageItem)

}
</script>
{% endblock %}
