{% extends 'base.html.twig' %} {% block title %}Hello EmailController!{%
endblock %} {% block body %}
<style>
  form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  form div {
    margin: 2px;
    width: 100%;
  }
</style>

{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}

{{ form_start(form) }}

{{ form_end(form) }}
{% endblock %}
